

services:

  mongodb:
    container_name: mongodb
    image: mongo 
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
     container_name: redis
     image: redis:latest
     ports : 
       - "6379:6379"
   
  backend:
    container_name: backend
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
      - redis
    volumes:
      - ./backend:/app        # Sync your local code with the container
      - /app/node_modules  
    env_file:
     - ./backend/.env
    environment:             #Docker environment
      - DOCKER=true
      - NODE_ENV=development
      - REDIS_URL=redis://redis:6379


  frontend:
   container_name: frontend
   restart: always
   build: ./frontend
   ports: 
     - "5173:5173"
   links:
     - backend  
   volumes:
      - ./frontend:/app               # Mount frontend code
      - /app/node_modules       

 

volumes:
  mongo-data: