# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

#ignore logs
logs/
backend/logs/
backend/src/practice/
tests/unit/trying.test.js
tests/unit/dummySpying.test.js
tests/unit/mockModulePractice.js
tests/unit/carTest.js

*.log