# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

#ignore logs
logs/
backend/logs/
backend/tests/unit/trying.test.js
backend/tests/unit/dummySpying.test.js

*.log