name: Continue Integration

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo:latest
        ports:
          - 27017:27017
       

      redis:
        image: redis:latest
        ports:
          - 6379:6379
        

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'
          cache-dependency-path: backend/package-lock.json
      - name: Install backend dependencies
        working-directory: ./backend
        run: npm ci
      - name: Load test environment variables
        run: cp backend/.env.test backend/.env
      - name: Wait for MongoDB and redis
        run: sleep 10  
      - name: Test backend
        working-directory: ./backend
        run: npm test
